  body
    position absolute
    height 100%
    width 100%
    overflow hidden

  .wrapper-view
    width 100%
    height 100%

  .login-wrapper
    width 100%
    height 100%

  .login-box
    width 360px
    margin auto
    padding-top 14%

  .login-box-body .row .col-xs-8
    margin-top 7px
    a
      cursor pointer

  .landing
    background-size cover
    background-image url("../assets/background.jpg")

  .image-container
    width calc(100% - 460px)
    height 100%
    margin auto
    img
      position absolute
      margin auto
      top -50px
      left 0
      right 0
      bottom 0
    .overlay
      top -50px

  .chain-options
    margin-right 3px
    margin-top 3px

  .chain-close
    float right
    margin-right 3px
    margin-top 3px

  .right-menu
    height 100%

  .skin-blue .right-menu .sidebar-menu > li > a
    border-left none

  .skin-blue .right-menu .sidebar-menu > li:hover > a, .skin-blue .right-menu .sidebar-menu > li.active > a
    color #b8c7ce
    cursor move

  .skin-blue .right-menu .sidebar-menu i:hover, .skin-blue .right-menu .sidebar-menu i.active
    color #ffffff
    cursor pointer

  .skin-blue .right-menu .sidebar ul
    cursor move

  .accept-button
    width 90%
    margin auto
    margin-top 6px

  .slider.slider-horizontal .tooltip.tooltip-main.top
    margin-top -35px
    cursor pointer

  .binary-modal
    .modal-dialog
      max-width 375px
    .row
      height 45px
    .dropdown
      width 80%
      margin auto
      button, .dropdown-menu
        width 100%
