body {
  position: absolute;
  height: 100%;
  width: 100%;
}

.wrapper-view {
  width: 100%;
  height: 100%;
}

.login-wrapper {
  width: 100%;
  height: 100%;
}

.login-box {
  width: 360px;
  margin: auto;
  padding-top: 14%;
}

.login-box-body .row .col-xs-8 {
  margin-top: 7px;
  a {
    cursor: pointer;
  }
}

.landing {
  background-image: url("../assets/background.jpg");
}
