@import 'modal-binary';
@import 'left-menu';
@import 'right-menu';
@import 'statistics';
@import 'chains';
@import "recognize";
@import "login";
@import "images";
@import "process";

body {
  position: absolute;
  height: 100%;
  width:100%;
  min-width: 800px;
  min-height: 480px;
}

.nav.navbar-nav i {
  margin-left: 5px;
}
