$content-background : #ECF0F5;

.chain-options {
  margin-right: 3px;
  margin-top: 3px;
}

.chain-close {
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}

.anim-colm {
  transition-timing-function: ease-in-out;
  transition: width 150ms;
}

.chains-container {

  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 230px;
  height: 100%;
  width: 100%;
  background-color: $content-background;

  .row.main {
    height: 100%;
    margin: 0;
  }

}

// Slide sectors

.chains-block {
  display: block;
  height: 100%;
  width: 0;
  padding: 0;
  background: rgba(34,45,50,0.95);
  .content {
    height: calc(100% - 40px);
    padding: 0;
  }
  &.show {
    width: 230px;
  }
}

.input-block {
  display: block;
  height: 100%;
  width: 0;
  padding: 0;
  background-color: #B8C7CE;
  .input-image-content {
    display: block;
    position: relative;
    height: calc(100% - 77px);
    overflow: auto;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    .input-image-folder {
      background-color: $content-background;
      border-right: 1px solid #36444C;
      display: block;
      overflow: hidden;
    }
  }
  &.show {
    width: calc(50% - 115px);
  }
}

.output-block {
  display: block;
  height: 100%;
  width: 0;
  padding: 0;
  background: #ECF0F5;
  .output-image-content {
    display: block;
    position: relative;
    height: calc(100% - 77px);
    overflow: auto;
    background-color: #ECF0F5;
    .output-image-folder {
      display: block;
      overflow: hidden;
      background-color: #ECF0F5;
    }
  }
  .spinner {
    height: calc(100% - 77px);
    display: none;
    background: #ECF0F5;
  }
  &.show {
    width: calc(50% - 115px);
    .spinner {
      display: block;
    }
  }
}

// Slide sectors
.chains-block,
.input-block,
.output-block {
  .panel-header {

    &.border a {
      border-right: 1px solid #36444C !important;
      border-left: 1px solid #36444C !important;
    }
    &.border-right a {
      border-right: 1px solid #36444C !important;
    }

    display: block;
    overflow: hidden;
    height: 37px;
    background-color: #1A2226;
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 10px 25px 10px 15px;
      cursor: default !important;
    }
    span {
      display: block;
      position: relative;
      color: #4b646f;
      font-size: 12px;
    }
    &:hover {
      a {
        background-color: #1A2226 !important;
      }
      span {
        color: #4b646f !important;
      }
    }
  }
}

  // Bottom buttons

.chains-block .input-image-button,
.input-block .input-image-button,
.output-block .input-image-button {
  &.shift:hover {
    a {
      border-left: 3px solid #3c8dbc;
    }
    i {
      right: 13px;
      color: #3c8dbc;
    }
    cursor: pointer;
  }
  &.save:hover {
    a {
      border-left: 3px solid #3c8dbc;
    }
    i {
      color: #3c8dbc;
    }
    cursor: pointer;
  }
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  background: #1E282C;
  overflow: hidden;
  text-align: center;
  bottom: 0;
  .yellow {
    color: #F39C12;
  }
  a {
    padding: 9px 5px 10px 15px;
    display: block;
    border-left: 3px solid #F39C12;
    text-align: left;
  }
  i {
    position: absolute;
    right: 21px;
    top: 14px;
    transition: right 120ms;
  }
  span {
    font-size: 16px;
    font-weight: 400;
    left: 11px;
    top: 11px;
    color: #ffffff;
  }
}

