$menu-yellow: #f39c12;
$menu-blue: #3c8dbc;
$menu-hover-span: #fff;
$menu-background: #222d32;
$menu-hover-li: #1E282C;

// TODO remove
.nav.navbar-nav i {
  margin-left: 5px;
}

// action menu
ul.sidebar-menu.action-menu {
  li:hover.header {
    cursor: default;
  }
  li:hover {
    cursor: pointer;
  }
}

// shift menu
ul.sidebar-menu.shift-menu {
  li.header {
    cursor: default !important;
  }
  li {
    i.fa-play.yellow {
      color: $menu-yellow;
    }
    i.fa-play.blue {
      color: $menu-blue;
    }
    i.fa-play {
      top: 15px;
      right: 15px;
      position: absolute;
      cursor: pointer;
      padding-left: 0;
      transition: padding-left 120ms;
    }
    span {
      cursor: default;
    }
    a {
      color: #b8c7ce;
    }
  }
  li:hover {
    span {
      color: #fff;
      cursor: pointer;
    }
    i.fa-play {
      padding-left: 8px;
      color: #3c8dbc;
    }
    cursor: pointer;
  }
  li.selected {
    i.fa-play {
      padding-left: 8px;
      color: #3c8dbc;
      cursor: pointer;
    }
    a {
      background: #1e282c;
      border-left-color: #3c8dbc;
    }
    span {
      color: #fff;
    }
  }
}

// chain menu
ul.sidebar-menu.chain-menu {
  li i:hover {
    cursor: pointer;
  }
  li:hover {
    a {
      border: none;
    }
    i {
      color: $menu-yellow;
    }
    span {
      color: #fff;
    }
  }
  li a {
    border: none;
    cursor: move;
  }
  &[dnd-list] {
    .dndPlaceholder {
      display: block;
      background: #222d32;
      min-height: 44px;
    }
    .dndDraggingSource {
      display: none;
    }
  }
}

// elements
.spinner {
  background: #DCE7EC;
  height: calc(100% - 37px);
  width: 100%;
  .sk-fading-circle {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
  }
}
