.images-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 230px;
  height: 100%;
  width: 100%;
  background-color: #ecf0f5;
  .images-content {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
}

.accept-button {
  width: 90%;
  margin: 6px auto auto;
}

aside .accept-button.btn.btn-block.btn-primary.btn-flat {
  margin-bottom: 11px;
  margin-top: 11px;
}



