.wrapper-view, .login-wrapper {
  width: 100%;
  height: 100%;
}

.login-box {
  width: 360px;
  height: 212px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.login-box-body .row .col-xs-8 {
  margin-top: 7px;
  a {
    cursor: pointer;
  }
}

.landing {
  background-size: cover;
  background-image: url("../assets/background.jpg");
}

p.login-box-msg.error {
  color: red;
}

.login-box-body input[placeholder].error {
  color: red;
}

.login-box.full-height {
  height: 408px;
}

.form-group.has-feedback.hidden {
  visibility: hidden;
}
