.recognize-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 230px;
  padding-top: 50px;
  width: 100%;
  height: 100%;
  background-color: #B8C7CE;
  margin: 0;

  .row.main {
    display: block;
    height: 100%;
    margin: 0;
    .col-md-4 {
      display: block;
      height: 100%;
      width: 0;
      padding: 0;
    }
    .col-md-4 {
      transition-timing-function: ease-in-out;
      transition: width 150ms, padding 150ms;
    }
    .chains-block {
      background: rgba(34,45,50,0.95);
      .header {
        background: rgba(26,34,38,0.45);
      }
      a {
        color: #b8c7ce;
      }
    }
    .chains-block.show {
      width: 230px;
    }
    .input-block {
      background-color: #B8C7CE;
    }
    .input-block.show {
      width: calc(50% - 115px);
    }
    .output-block {
      background: rgba(0, 0, 255, 0.51);
    }
    .output-block.show {
      width: calc(50% - 115px);
    }
  }
  .image-tile {
    float: left;
    margin: 20px 0 0 25px;
    cursor: default;
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
  }
  .image-tile.selected .selector {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    border-radius: 4px;
    background: rgba(71, 82, 88, 0.38) url("/assets/arrow.png") no-repeat;
    background-position-x: 73px;
    background-position-y: 73px;
    transition: background-color 100ms;
  }
  .img-thumbnail:hover {
    background-color: #3C8DBC;
  }
  .image-tile.selected .img-thumbnail {
    background-color: #3C8DBC;
  }
}

.recognize-container .chains-block ul li i.fa-play.yellow {
  color: #f39c12;
}

.recognize-container .chains-block ul li i.fa-play.blue {
  color: #0073b7;
}

.recognize-container .chains-block ul li i.fa-play {
  top: 15px;
  right: 15px;
  position: absolute;
  cursor: pointer;
  padding-left: 0;
  transition: padding-left 120ms;
}

.recognize-container .chains-block ul li i.fa-play:hover {
  padding-left: 8px;
  color: #0073b7;
}

.recognize-container .chains-block ul li i.fa-gears:hover {
  color: #0073b7;
}

.recognize-container .chains-block ul li i.fa-times:hover {
  color: #0073b7;
}

.recognize-container .chains-block ul li i.fa-gears {
  cursor: pointer;
}

.recognize-container .chains-block ul li i.fa-times {
  cursor: pointer;
}

.recognize-container .chains-block ul li span {
  cursor: default;
}

.small-image-tile {
  float: left;
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 80px;
  height: 80px;
  img.small-image {
    width: 80px;
    height: 80px;
  }
}

.table-image {
  width: 100%;
  height: 100%;
}
