.statistics-container {
  width: calc(100% - 230px);
  height: 100%;
  background-color: #ecf0f5;
  margin: auto auto auto 230px;
  padding-top: 15px;
  .image-block {
    max-width: 250px;
    max-height: 250px;
  }
}
// TODO remove
canvas {
  max-width: 1000px !important;
  max-height: 600px !important;
}


