.statistics-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  padding-left: 230px;
  padding-right: 0;
  width: 100%;
  height: 100%;

  .statistic-wrapper {
    height: 100%;
    width: 100%;
  }

  background-color: #ecf0f5;
  margin: 0;
  /*.image-block {
    max-width: 250px;
    max-height: 250px;
  }

  .box.box-primary {
    margin: 0;
    height: 100%;
  }*/

  .content-block {
    background: #ECF0F5;
    width: 100%;
    height: 100%;
  }
  .box-header.with-border {
    text-align: left;
  }
  .box .box-footer,
  .box .checkbox {
    text-align: left;
  }
  .box-body .control-label {
    text-align: left;
  }
  .box-body .form-group {
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 2px;
  }
  section {
    &.content-header {
      padding-left: 70px;
      padding-right: 70px;
      padding-top: 25px;
    }
    &.content {
      padding-left: 70px;
      padding-right: 70px;
    }
    .row {
      margin-bottom: 20px;
    }
  }
  .form-horizontal {
    padding: 15px;
  }
  table {
    margin-bottom: 0;
  }
  .box.box-info {
    .image-tile {
      margin: auto;
      //top: 15px;
      right: 0;
      left: 0;
      //position: absolute;
    }
    &{
      box-shadow: none;
      margin: 0;
      min-width: 520px;
    }
    .col-md-4, .col-md-8 {
      padding: 0;
    }
    .col-md-5 {
      height: 100%;
    }
    .form-group {
      margin-left: 0;
      margin-right: 0;
    }
    .form-group .control-label {
      font-size: 16px;
      font-weight: 500;
      color: #675F5F;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    border: 1px solid #ddd;
    border-radius: 0;
    .box-title {
      font-size: 19px;
      font-weight: 600;
    }
    .box-body {
      //height: 420px;
      .row {
        margin: 0;
        height: 100%;
      }
      .col-md-6 {
        height: 100%;
      }
    }
    .box-header {
      padding-top: 13px;
      padding-left: 14px;
    }
    .box-footer .btn {
      width: 100px;
    }
    canvas {
      left: 0;
      top: 45px;
      bottom: 0;
      right: 0;
      margin: auto;
      position: absolute;
    }
    .form-group.margin {
      margin-top: 25px;
    }
  }

}

/*.statistics-container {
  .content {
    width: 100%;
    height: 100%;
  }
}

.col-md-6 {
  text-align: center;
  img {
    display: inline-block;
  }
}*/


