<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/restangular/1.5.1/restangular.js"></script>
    <script src="https://rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.js"></script>
    <script src="WebSocketGateway.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="medimage">
<div ng-controller="indexController">
    <input type="text" ng-model="login">
    <input type="text" ng-model="password">
    <button ng-click="auth()">SEND</button>
    <button ng-click="test()">TEST</button>
</div>
</body>
</html>