<aside class="right-menu control-sidebar control-sidebar-dark control-sidebar-open">
  <section ng-scrollbars class="sidebar">
    <!-- Create the tabs -->
    <button ng-if="chain.length > 0" type="button" ng-click="saveChain()" class="accept-button btn btn-block btn-primary btn-flat">
      <span>Save Chain</span>
      <i class="fa fa-save"></i>
    </button>
    <ul ng-if="chain.length > 0" class="sidebar-menu">
      <li class="header">CURRENT CHAIN:</li>
    </ul>
    <ul dnd-list="chain" class="sidebar-menu chain-menu">
      <li ng-repeat="chainElement in chain"
          dnd-draggable="chainElement"
          dnd-moved="chain.splice($index , 1)"
          dnd-effect-allowed="move">
        <a>
          <i ng-click="changeOperation($index)" class="fa fa-gears chain-options"></i>
          <span>{{chainElement.operationType}}</span>
          <i ng-click="removeOperation($index)" class="fa fa-times chain-close"></i>
        </a>
      </li>
    </ul>
    <ul class="sidebar-menu">
      <li class="header">ACTIONS:</li>
    </ul>
    <button ng-if="chain.length > 0" type="button" ng-click="acceptChain()" class="accept-button btn btn-block btn-primary btn-flat">
      <span>Apply chain</span>
      <i class="fa fa-refresh"></i>
    </button>
  </section>
</aside>
