<aside class="right-menu control-sidebar control-sidebar-dark control-sidebar-open ">
  <section class="sidebar" style="height: 100%;">
    <!-- Create the tabs -->
    <ul class="sidebar-menu">
      <li class="header">CURRENT CHAIN:</li>
      <li ng-repeat="chainElement in chain">
        <a>
          <i ng-click="changeOperation($index)" class="fa fa-gears chain-options"></i>
          <span>{{chainElement.operationType}}</span>
          <i ng-click="removeOperation($index)" class="fa fa-times chain-close"></i>
        </a>
      </li>
      <!--<li>
        <a href="">
          <i class="fa fa-gears chain-options"></i>
          <span>ROTATE</span>
          <i class="fa fa-times chain-close"></i>

        </a>
      </li>
      <li>
        <a href="">
          <i class="fa fa-gears chain-options"></i>
          <span>ZOOM</span>
          <i class="fa fa-times chain-close"></i>

        </a>
      </li>-->
    </ul>
    <button type="button" class="accept-button btn btn-block btn-primary btn-flat">Refresh
      <i class="fa fa-refresh"></i>
    </button>
    <button type="button" class="accept-button btn btn-block btn-success btn-flat">Save
      <i class="fa fa-save"></i>
    </button>
  </section>
</aside>
