<div class="modal-header">
  <h4 class="modal-title">Enter result name</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="box-body">
      <div class="form-group">
        <label class="col-sm-3 control-label">Recognize result</label>
        <div class="col-sm-9">
          <input spellcheck="false" ng-model="recognizeName" type="text" class="form-control" placeholder="Name">
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="apply()">Save</button>
</div>
