<div header></div>
<div profile-menu-left></div>

<div class="container-fluid profile-container">

  <div ng-scrollbars class="content-block">

    <section class="content-header">
      <h1>Settings</h1>
    </section>

    <section ng-show="userMode" class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change email</h3>
            </div>
            <form name="emailForm" class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Current email:</label>
                  <label class="col-sm-8 control-label"><b>{{user.username}}</b></label>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">New email:</label>
                  <div class="col-sm-8">
                    <input spellcheck="false" name="email" ng-model="email.username" type="text"
                           class="form-control" placeholder="Email"
                           validator="required, email"
                           email-error-message="Required valid email"
                           email-success-message="Email is valid"
                           required-error-message="Required valid email"
                           required-success-message="Email is valid">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button validation-reset="emailForm" ng-disabled="!checkValid(emailForm)" ng-click="updateEmail()" type="submit"
                        class="btn btn-primary btn-flat pull-right">Save
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change password</h3>
            </div>
            <form name="passwordForm" class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Current password:</label>
                  <div class="col-sm-8">
                    <input ng-model="pass.currentPassword" type="password" class="form-control"
                           placeholder="Current password"
                           validator="required, minlength=6"
                           minlength-error-message="Current password can't be shorter than 6 characters"
                           minlength-success-message="Password is valid"
                           required-error-message="Required password"
                           required-success-message="Password is valid">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">New password:</label>
                  <div class="col-sm-8">
                    <input ng-model="newPassword" type="password" class="form-control"
                           placeholder="New password"
                           validator="required, minlength=6"
                           minlength-error-message="Minimum password length - 6 symbols"
                           minlength-success-message="Password is valid"
                           required-error-message="Required password"
                           required-success-message="Password is valid">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Repeat password:</label>
                  <div class="col-sm-8">
                    <input ng-model="pass.repeatPassword" type="password" class="form-control"
                           placeholder="Repeat password"
                           validator="required, passwordMatch"
                           required-error-message="Require repeat password">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button validation-reset="passwordForm" ng-disabled="!checkValid(passwordForm)" ng-click="updatePassword()" type="submit"
                        class="btn btn-primary btn-flat pull-right">Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>

    <section ng-show="optionsMode" class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">User information</h3>
            </div>
            <form name="userForm" class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Name:</label>
                  <div class="col-sm-8">
                    <input spellcheck="false" ng-model="info.name" type="text"
                           class="form-control" placeholder="Name"
                           validator="required, letters"
                           required-error-message="Required name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Surname:</label>
                  <div class="col-sm-8">
                    <input spellcheck="false" ng-model="info.surname" type="text"
                           class="form-control" placeholder="Surname"
                           validator="required, letters"
                           required-error-message="Required surname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Address:</label>
                  <div class="col-sm-8">
                    <input spellcheck="false" ng-model="info.address" type="text"
                           class="form-control" placeholder="Address"
                           validator="required, letters"
                           required-error-message="Required address">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button validation-reset="userForm" ng-disabled="!checkValid(userForm)"  ng-click="updateInfo()" type="submit" class="btn btn-primary btn-flat pull-right">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
