<div header></div>
<div profile-menu-left></div>

<div class="container-fluid profile-container">

  <div ng-scrollbars class="content-block">

    <section class="content-header">
      <h1>Settings</h1>
    </section>

    <section ng-if="userMode" class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change email</h3>
            </div>
            <form name="emailForm" class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Current email:</label>
                  <label class="col-sm-8 control-label"><b>{{user.username}}</b></label>
                </div>
                <div class="form-group" ng-class="{'has-error' : emailForm.email.$invalid}">
                  <label class="col-sm-4 control-label">New email:</label>
                  <div class="col-sm-8">
                    <input spellcheck="false" name="email" ng-model="newUser.username" type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button ng-click="updateUsername()" type="submit" class="btn btn-primary btn-flat pull-right">Save</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Change password</h3>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Current password:</label>
                  <div class="col-sm-8">
                    <input ng-model="newUser.currentPassword" type="password" class="form-control" placeholder="Current password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">New password:</label>
                  <div class="col-sm-8">
                    <input ng-model="newUser.password" type="password" class="form-control" placeholder="New password">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Repeat password:</label>
                  <div class="col-sm-8">
                    <input ng-model="newUser.repeatPassword" type="password" class="form-control" placeholder="Repeat password">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button ng-click="updatePassword()" type="submit" class="btn btn-primary btn-flat pull-right">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </section>

    <section ng-if="optionsMode" class="content">
      <div class="row">
        <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">User information</h3>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Name:</label>
                  <div class="col-sm-8">
                    <input required ng-model="user.name" type="text" class="form-control" placeholder="Name">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Surname:</label>
                  <div class="col-sm-8">
                    <input required ng-model="user.surname" type="text" class="form-control" placeholder="Surname">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Address:</label>
                  <div class="col-sm-8">
                    <input required ng-model="user.address" type="text" class="form-control" placeholder="Address">
                  </div>
                </div>
              </div>
              <div class="box-footer">
                <button ng-click="updateInformation()" type="submit" class="btn btn-primary btn-flat pull-right">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

  </div>

</div>
