<div class="modal-header">
  <h4 class="modal-title">Select binarization params:</h4>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <span>Binary type:</span>
      </div>
      <div class="col-md-8">
        <div class="dropdown vcenter">
          <div class="btn-group" uib-dropdown dropdown-append-to-body>
            <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle>
              {{binaryParams.type}}<span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
              <li ng-repeat="binaryType in binaryTypes" role="menuitem"><a href ng-click="selectBinaryType(binaryType)">{{binaryType}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- THRESOLD PARAMS -->
    <div class="row" ng-class="{'hidden': binaryParams.type != 'THRESOLD'}">
      <div class="col-md-4 text-center">
        <span>Thresold:</span>
      </div>
      <div class="col-md-8">
        <div class="slider-container">
          <span slider
                ng-model="binaryParams.thresold"
                min="0"
                max="255"
                range="range">
	        </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">Close</button>
  <button type="button" class="btn btn-primary" ng-click="apply()">{{isEditMode ? 'Save' : 'Add'}}</button>
</div>
