<div header></div>
<div images-menu-left></div>

<div class="images-container">
  <div ng-scrollbars class="images-content">
    <div ng-repeat="image in images track by $index" class="image-tile medium zoomable">
      <ul class="right-image-menu">
        <li><i class="fa fa-close" data-toggle="tooltip" data-placement="left" title="Delete" ng-click="deleteImage(image)"></i></li>
        <li><i class="fa fa-edit" data-toggle="tooltip" data-placement="left" title="Process" ng-click="processImage(image)"></i></li>
        <li><i class="fa fa-info" data-toggle="tooltip" data-placement="left" title="Info" ng-click="infoImage(image)"></i></li>
      </ul>
      <img ng-click="openImageModal(image)" ng-if="image" ng-src="{{network_address + '/images/' + image}}">
    </div>
  </div>
</div>

<div id="lightBox" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
  <div class='lightbox-dialog'>
    <div class='lightbox-content'>
      <img id="imageBox">
    </div>
  </div>
</div>
