<div ng-include="'../header/header.html'"></div>
<div ng-include="'../leftBar/leftBar.html'"></div>

<div class="images-container">

  <div ng-repeat="image in images" class="image-tile">
    <ul class="right-image-menu">
      <li><i class="fa fa-edit"></i></li>
      <li><i class="fa fa-close"></i></li>
      <li><i class="fa fa-info"></i></li>
    </ul>
    <img class="small-image img-thumbnail" ng-if="image" ng-src="http://localhost:8080/images/{{image}}">
  </div>
<!--  <div ng-if="!currentImage" class="overlay">
    <i class="fa fa-refresh fa-spin"></i>
  </div>-->

</div>
