<aside class="main-sidebar ">
  <section ng-scrollbars class="sidebar">

    <ul class="sidebar-menu shift-menu">
      <li class="header">SELECT NETWORK</li>

      <li ng-repeat="network in networks" ng-click="selectNetwork($event, network)"
          ng-class="{'selected' : network.id == selectedNetwork.id}">
        <a><i class="fa fa-circle-o text-yellow"></i><span>{{network.name}}</span><i class="fa fa-play yellow"></i></a>
      </li>

    </ul>

    <ul class="sidebar-menu shift-menu">
      <li class="header">OPTIONS</li>

      <li ng-class="{'selected' : isLearnMode}" ng-click="selectTrain()">
        <a><i class="fa fa-circle-o text-yellow"></i><span>TRAIN NEW NETWORK</span></a>
      </li>

    </ul>

  </section>
</aside>
