<aside class="main-sidebar ">
  <section class="sidebar">

    <ul class="sidebar-menu">
      <li class="header">SELECT NETWORK</li>

      <li ng-click="selectNetwork()">
        <a href=""><i class="fa fa-circle-o text-yellow"></i><span>NETWORK 1</span></a>
      </li>

      <li ng-click="selectNetwork()">
        <a href=""><i class="fa fa-circle-o text-yellow"></i><span>NETWORK 2</span></a>
      </li>

      <li ng-click="selectNetwork()">
        <a href=""><i class="fa fa-circle-o text-yellow"></i><span>NETWORK 3</span></a>
      </li>

    </ul>

    <ul class="sidebar-menu">
      <li class="header">OPTIONS</li>

      <li ng-click="selectTrain()">
        <a href=""><i class="fa fa-circle-o text-yellow"></i><span>TRAIN NEW NETWORK</span></a>
      </li>

    </ul>

  </section>
</aside>
