<div header></div>
<div chains-menu-left></div>

<div class="chains-container">
  <div class="row main">

    <div class="col-md-4 chains-block anim-colm">
      <div ng-scrollbars class="content">
        <ul class="sidebar-menu chain-menu">
          <li class="header">CHAIN OPERATION LIST</li>

          <li ng-repeat="chainElement in chainElements"
              dnd-draggable="chainElement"
              dnd-moved="chain.splice($index , 1)"
              dnd-effect-allowed="move">
            <a>
              <i ng-click="changeOperation($index)" class="fa fa-gears chain-options"></i>
              <span>{{chainElement.operationType}}</span>
              <i ng-click="removeOperation($index)" class="fa fa-times chain-close"></i>
            </a>
          </li>

        </ul>
      </div>
      <div ng-click="showInputBlock()" class="input-image-button">
        <span>SELECT IMAGES ></span>
      </div>
    </div>

    <div class="col-md-4 input-block anim-colm">
      <div class="header">
        <span>SELECT USER IMAGES</span>
      </div>

      <div ng-scrollbars class="input-image-content">
        <div class="input-image-folder">
          <div ng-repeat="image in images" class="image-tile" ng-class="[image]" ng-click="selectUserImage(image)">
            <div class="selector"></div>
            <img error-handler ng-click="openImageModal(image)" class="small-image img-thumbnail" ng-if="image"
                 ng-src="http://localhost:8080/images/{{image}}">
          </div>
        </div>
      </div>

      <div ng-click="showOutputBlock()" class="input-image-button">
        <span>PROCESS IMAGES ></span>
      </div>

    </div>

    <div class="col-md-4 output-block anim-colm">
      <div class="header">
        <span>RESULTS PROCESSING</span>
      </div>

      <div ng-scrollbars class="output-image-content">
        <div class="output-image-folder">
          <div ng-repeat="image in images" class="image-tile" ng-class="[image]" ng-click="selectUserImage(image)">
            <div class="selector"></div>
            <img error-handler ng-click="openImageModal(image)" class="small-image img-thumbnail" ng-if="image"
                 ng-src="http://localhost:8080/images/{{image}}">
          </div>
        </div>
      </div>

      <div class="input-image-button">
        <span>SAVE IMAGES</span>
      </div>

    </div>
  </div>
</div>
