<div header></div>
<div chains-menu-left></div>

<div class="chains-container">
  <div class="row main">

    <div class="col-md-4 chains-block anim-colm">
      <div class="content">
        <ul class="sidebar-menu">
          <li class="header">CHAIN OPERATION LIST</li>
          <li><a href=""><i class="fa fa-circle-o text-yellow"></i><span>BINARY</span></a></li>
          <li><a href=""><i class="fa fa-circle-o text-yellow"></i><span>BLUR</span></a></li>
          <li><a href=""><i class="fa fa-circle-o text-yellow"></i><span>CROP</span></a></li>
          <li><a href=""><i class="fa fa-circle-o text-yellow"></i><span>RESIZE</span></a></li>
        </ul>
      </div>
      <div class="input-image-button">
        <span>SELECT IMAGES ></span>
      </div>
    </div>

    <div class="col-md-4 input-block anim-colm">
      <div class="header">
        <span>SELECT USER IMAGES</span>
      </div>

      <div class="input-image-content">
        <div class="input-image-folder">
          <div ng-repeat="image in images" class="image-tile" ng-class="[image]" ng-click="selectUserImage(image)">
            <div class="selector"></div>
            <img error-handler ng-click="openImageModal(image)" class="small-image img-thumbnail" ng-if="image"
                 ng-src="http://localhost:8080/images/{{image}}">
          </div>
        </div>
      </div>

      <div class="input-image-button">
        <span>PROCESS IMAGES ></span>
      </div>

    </div>

    <div class="col-md-4 output-block anim-colm">
      <div class="header">
        <span>RESULTS PROCESSING</span>
      </div>

      <div class="output-image-content">
        <div class="output-image-folder">
          <div ng-repeat="image in images" class="image-tile" ng-class="[image]" ng-click="selectUserImage(image)">
            <div class="selector"></div>
            <img error-handler ng-click="openImageModal(image)" class="small-image img-thumbnail" ng-if="image"
                 ng-src="http://localhost:8080/images/{{image}}">
          </div>
        </div>
      </div>

      <div class="input-image-button">
        <span>SAVE IMAGES</span>
      </div>

    </div>
  </div>
</div>
