<aside class="main-sidebar ">
  <section ng-scrollbars class="sidebar">
    <!-- TODO change -->
    <button ng-if="chain.length > 0" type="button" ng-click="saveImage()"
            class="accept-button btn btn-block btn-primary btn-flat">
      <span>Save Image</span>
      <i class="fa fa-save"></i>
    </button>
    <ul class="sidebar-menu action-menu">
      <li class="header">COMPUTER VISION</li>
      <li ng-click="chainService.cannyModalShow()"><a><i class="fa fa-circle-o text-yellow"></i><span>EDGE DETECTOR</span></a></li>
      <li ng-click="chainService.histogramEqualizeModalShow()"><a><i class="fa fa-circle-o text-yellow"></i><span>HISTOGRAM EQUALIZATION</span></a></li>
      <li ng-click="chainService.binaryModalShow()"><a><i class="fa fa-circle-o text-yellow"></i><span>BINARY</span></a></li>
      <li class="header">MATRIX OPERATIONS</li>
      <li ng-click="chainService.blurModalShow()"><a><i class="fa fa-circle-o text-yellow"></i><span>BLUR</span></a></li>
      <li class="header">COLOR OPERATIONS</li>
      <li><a><i class="fa fa-circle-o text-yellow"></i> <span>GRAYSCALE</span></a></li>
      <li><a><i class="fa fa-circle-o text-yellow"></i> <span>CONTRAST</span></a></li>
      <li><a><i class="fa fa-circle-o text-yellow"></i> <span>BRIGHTLIGHT</span></a></li>
    </ul>
  </section>
</aside>
