<aside class="main-sidebar ">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <li class="header">MATH OPERATIONS</li>
      <li><a href="" ng-click="binaryModalShow()"><i class="fa fa-circle-o text-yellow"></i><span>BINARY</span></a></li>
      <li><a href="" ng-click="blurSelect()"><i class="fa fa-circle-o text-yellow"></i><span>BLUR</span></a></li>

      <!--<li class="treeview">
          <a ng-click="openMenu($event)" href="">
              <i class="fa fa-folder"></i> <span>IMAGES</span> <i
                  class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li><a href="" ng-click="addOtsuFilter()"><i class="fa fa-circle-o text-aqua"></i>OTSU</a></li>
              <li class=""><a href=""><i class="fa fa-circle-o text-aqua"></i>THRESOLD</a></li>
          </ul>
      </li>-->
      <!--<li class="treeview">
          <a ng-click="openMenu($event)" href="">
              <i class="fa fa-image"></i> <span>IMAGES</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
              <li><a href=""><i class="fa fa-circle-o text-aqua"></i>GAUSS</a></li>

          </ul>
      </li>-->

      <li class="header">SIZE OPERATIONS</li>
      <li><a href="" ng-click="test()"><i class="fa fa-circle-o text-yellow"></i><span>CROP</span></a></li>
      <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>ROTATE</span></a></li>
      <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>ZOOM</span></a></li>
      <li class="header">COLOR OPERATIONS</li>
      <li><a href=""><i class="fa fa-circle-o text-yellow"></i> <span>GRAYSCALE</span></a></li>

    </ul>
  </section>
</aside>

<div modal-binary></div>
